
{% extends 'u_base.html' %}
{% block content %}
<center>
	<font size="" color="#ff0000"><strong>{{msg}}</strong></font>
	<br><br>
<h2>Purchase drugs</h2>
<br><br>

<table width="100%" id="tab" >
<tr><th>Sno<th>Drug Name<th>Medicine Name<th>Type<th>Cost<th>Pharmacy<th>
{% for d1 in data %}

<TR><TD>{{forloop.counter}}<TD>{{d1.drugname}}<TD>{{d1.mname}}<TD>{{d1.typ_e}}<TD>{{d1.cost}}
<TD>{{d1.pname}}

<td width="30%">
	<form method="get" action="/addtocart_u/">
	<input type="number" name="count" max="{{d1.stock}}" min='1'>
	<input type="hidden" name="did" value="{{d1.did}}" >
	<input type="submit" value="Add Stock">
	</form>
		
{% endfor %}
</table>





{% endblock %}