
{% extends 'u_base.html' %}
{% block content %}
<center>
	<font size="" color="#ff0000"><strong>{{msg}}</strong></font>
	<br><br>
<h2>View Cart </h2>
<br><br>

<table width="100%" id="tab" >
<tr><th>Drug ID<th>Medicine Name<th>Items added<th>Cost<th>Total Cost
{% for d1 in data %}


<TR><TD>{{d1.did}}<TD>{{d1.mname}}<TD>{{d1.count}}<TD>{{d1.cost}}<TD>{{d1.totcost}}
		
{% endfor %}

</table>

<br><br>
<table>
<tr>
	<td><form method="post" action="/uviewcart/">
	{% csrf_token %}
	<input type="submit" class="form-control" value="Pay">
</form></td>
</tr>
</table>


{% endblock %}